#musicForm {
  margin-top: 40px;
  margin-bottom: 80px;
}
#musicForm input {
  display: block;
  border: solid 2px #b5e3ea;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.416);
  color: white;
  font-family: "Orbitron", sans-serif;
}
#musicForm textarea {
  display: block;
  border: solid 2px #b5e3ea;
  padding: 20px;
  width: 100%;
  min-height: 80px;
  margin: 10px 0 20px 0;
  resize: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.416);
  color: white;
  font-family: "Orbitron", sans-serif;
}
#musicForm label {
  color: #dff2f4;
  font-size: 20 px;
}
#musicForm h3 {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
  color: #8ec5ce;
}

.button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  background: #337180;
  border-radius: 7px;
  transition: all 0.15s ease-out;
  border: none;
  cursor: pointer;
  font-size: 90%;
  color: #dff2f4;
  font-family: "Orbitron", sans-serif;
}

.button:hover {
  filter: brightness(120%);
}

.form-key {
  font-size: 16px;
  color: dimgrey;
  margin-top: 40px;
}

header {
  padding: 30px 0 10px 0;
  text-align: center;
  background-color: #dff2f4;
}
header img {
  width: 100px;
}

.hidden {
  display: none;
}

body {
  background-image: url(../images/background.jpg);
  font-family: "Orbitron", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
  color: #8ec5ce;
}

#musicList {
  background-color: rgba(128, 128, 128, 0.533);
}