.hidden {
  display: none;
}

body {
  background-image: url(../images/background.jpg);
  font-family: "Orbitron", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
  color: #8ec5ce;
}

#musicList {
  background-color: rgba(128, 128, 128, 0.533);
}
