.hidden {
  display: none;
}

body {
  background-image: url(../images/background.png);
  font-family: "Orbitron", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
  color: #e15b64;
}
